/.bash_history
/.bash_logout
/.bashrc
/.profile
/.sudo_as_admin_successful
/.wget-hsts
/.cache
/.config
/.kube
/.local
/.ssh
/.vscode-server
/bluemap-reference-config
/nfs-setup
/oceanblock
/smb-setup
/snap
/vintage
*.jar
*.tar*
*.zip
.atuin/
/.bash-preexec.sh
/.zshrc